use flake

# use nix -p cmake ninja clang-tools python3 \
#     mimalloc boost182 fmt_11 catch2_3 python3Packages.pybind11

# cmake -B build  -DCMAKE_EXPORT_COMPILE_COMMANDS=On -DSLANG_INCLUDE_TESTS=Off -DSLANG_INCLUDE_PYLIB=On -GNinja -DCMAKE_BUILD_TYPE=DEBUG
# ln -s build/compile_commands.json compile_commands.json
